@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');

h1 {
    font-family: 'Lobster Two', cursive;
  }

  h4 {
    font-family: 'Lobster Two', cursive;

  }

  p {
    font-family: 'Lobster Two', cursive;
    color: rgb(4, 57, 94);
    font-size: 20px;

  }

body {
    background-color:rgb(189, 212, 231);
    padding-top: 70px;
    padding-bottom: 70px;
}

.container {
    margin: 100px 60px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: rgb(4, 59, 98);
    position:absolute;
    left:0;
    right:0;
    top: 0;
    padding-left:20px;
    position:fixed;
}

.navbar_logo {
    margin: 0 auto;
    /* 
          No padding.
    */
    padding: 0;
    /* 
          For navbars use background color that stands out.
    */
    /*background-color: black;*/
    text-align: right;
    display: inline-block;
    line-height: 40px;
}

.navbar ul {
    /* 
          Remove bullet points.
    */
    list-style: none;
    width: 75%;
    margin: 0 auto;
    /* 
          No padding.
    */
    padding: 0;
    /* 
          For navbars use background color that stands out.
    */
    /*background-color: black;*/
    text-align: right;
    display: inline-block;
    line-height: 40px;
    padding-top:40px;
  }

  /*  
    Style individual list items.
*/
.navbar li {
    width: 100 px;
    /*background-color: #000;
    border: 1px solid red;
    */
    /* 
          Show the navbar elements next to each other instead of on top of each 
          other. 
    */
    padding: 10px;
    padding-left:10px;
    display: inline-block;
    line-height: 40px;
    font-family: 'Lobster Two', cursive;
    background-color: rgb(233, 175, 204);
    border-radius: 15px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    margin-left: 15px;
  }

  #nav_item {
    color: rgb(105, 17, 69); 
    text-decoration: none;
    font-size: 30px;
  }

  .navbar li:hover {
    background-color:rgb(224, 143, 184);
  }

  .row {
    display:flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }

  #sign_in_btn {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 70px;
    padding-right: 70px;
    border-radius: 20px;
    font-family: 'Lobster Two', cursive;
    font-size: 30px;
    border:none;
    background-color: rgb(4, 59, 98);
    color:white;
    margin-left:10px;
    margin-right:10px;
  }

  #sign_in_btn:hover {
    background-color: rgb(2, 35, 59);
    cursor:pointer;
  }

  .home-features{
    background-color: #A0B9C6;
    padding-top: 100px; 
    padding-bottom: 100px;
  }

  .container-features{
    padding-top: 100px; 
    padding-bottom: 100px;
  }
  
  .cards-row {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 250px;
    height: 350px;
    padding: 20px; 
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 70px;
    margin-top: 50px;
    background-color: #afc5d1;
    }
  
    .card img {
      width: 100%; 
      height: auto; 
      max-height: 150px; 
  }


  .card:hover {
    box-shadow: 0 8px 30px 0 rgba(0,0,0,0.2);
  }
  
  .card-info {
    padding: 2px 16px;
  }

  #testimonials_header {
    color: rgb(4, 59, 98);
    font-family: 'Lobster Two', cursive;
    font-weight: 800;
    font-size: 50px;
    margin-bottom: 0px;
  }

  #review_external {
    width:30%;
    min-width: 375px;
    height:400px;
    margin: 10px 20px;
    text-align: center;
    background-color: rgb(4, 59, 98);
  }

  #review_internal {
    background-color: white;
    height: 360px;
    margin: 20px 20px;
  }

  #review_text {
    color: rgb(4, 59, 98);
    font-family: 'Lobster Two', cursive;
    font-size: 30px;
    padding: 15px 15px;
    margin-block-start: 0;
    margin-block-end: 0;
  }

  #insta_icon{
    margin-block-start: 0;
    margin-block-end: 0;
  }